<section class="login-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
    [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Your Email" type="email"  formControlName="email">
        <mat-hint>Enter a valid email.</mat-hint>
        <mat-error>Invalid or missing email</mat-error>
     
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Your Password" type="password" formControlName="password">
        <mat-hint>Enter your password.</mat-hint>
        <mat-error>Missing password</mat-error>
      </mat-form-field>
      
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    </form>
  </section>
  